{% extends "::/layout/layout.html.twig" %}

{% block body%}
{% if articles and articles|length >0%}

    {% for article in articles %}

    <div class="well">
      {% include 'FrontendBundle:Article:display_article.html.twig' with {article: article} %}
   </div>
    {%endfor%}
{% endif%}
{% endblock%}
