
{% if photos %}
<div id="photosgallery">

  {% for photo in photos%}
  <a  href="{{photo.AssetPath|imagine_filter('large')}}" style="display:inline-block;" data-sub-html="">
    <img src="{{photo.AssetPath|imagine_filter('medium')}}"  alt="{{photo.name}}"  class="photosgallery" />
  </a>
 {%endfor%}

</div>
{%endif%}
