{% extends "::/layout/layout.html.twig" %}
{%block body %}

<div class="timeline col-sm-12">
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-sm alert-{{type}}  text-center">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>    {{ message }} </strong>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}


            {% block fos_user_content %}
            {% endblock fos_user_content %}
       </div>
  {%endblock%}
