{% trans_default_domain 'FOSUserBundle' %}


<div class="row">
        <div class="col-sm-12">
            <h2>Mot de passe perdu</h2>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                   

                    <div class="col-md-4 col-md-offset-2">
                        <form action="{{path('fos_user_resetting_reset', {'token': token})}}" token="{{token}}" class="fos_user_resetting_reset">
                            {{ form_widget(form) }}
                            <br/>
                            <input type="submit" value="{{ 'resetting.reset.submit'|trans }}"  class="btn btn-primary"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
